# Supabase Public Keys (Obtenidas en Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-clave-anon-publica-aqui

# Configuración para el Mapa (Centro por defecto: Santiago de Chile)
NEXT_PUBLIC_DEFAULT_MAP_LAT=-33.4190
NEXT_PUBLIC_DEFAULT_MAP_LNG=-70.5870
NEXT_PUBLIC_DEFAULT_MAP_ZOOM=12
